@import url("./assets.css");

body {
    padding: 15px;
    width: calc(100% - 30px);
}

main {
    width: 100%;

    .top {
        display: flex;
        flex-direction: column;
        width: 100%;

        border-bottom: solid 3px var(--green-1);
        padding-bottom: 15px;
        margin-bottom: 15px;

        h1 {
            margin: 0;
            font-size: 28px;
        }

        .backBtn {
            color: var(--grey-light);
            font-size: 16px;
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            font-weight: 600;
            margin-bottom: 5px;

            svg {
                height: 14px;
                width: auto;
                margin-right: 5px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    h2 {
        margin: 0;
        margin-bottom: 15px;
    }

    .mutliselect {
        display: flex;
        align-items: center;

        .inputSection {
            margin: 0 7.5px;

            &:first-of-type {
                margin: 0;
                margin-right: 7.5px;
            }

            &:last-of-type {
                margin: 0;
                margin-left: 7.5px;
            }
        }
    }

    .inputSection {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        flex-grow: 1;
        position: relative;

        label {
            margin-bottom: 5px;
            color: var(--white-1);
            font-size: 18px;
        }

        input {
            background-color: var(--grey-3);
            border: solid 3px var(--grey-1);
            color: var(--white-1);
            font-size: 16px;
            padding: 7px;
            border-radius: 7px;
        }

        select {
            position: relative;
            background-color: var(--grey-3);
            border: solid 3px var(--grey-1);
            color: var(--white-1);
            font-size: 16px;
            padding: 7px;
            border-radius: 7px;
        }

        &.select {
            select {
                -webkit-appearance: none;
                appearance: none;
            }

            &::after {
                content: "⌄";
                font-size: 18px;
                bottom: 15px;
                right: 15px;
                position: absolute;
                font-weight: 500;
                transform: scale(1.5,1);
            }
        }

        #location {
            width: 50%;
            max-width: 100%;
        }

        #changelocationbtn {
            background-color: transparent;
            border: none;
            color: var(--green-1);
            font-weight: 600;
            font-size: 16px;
            margin-left: 5px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}