@charset "UTF-8";
@import url("./assets.css");
body {
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
}

body > .bottomRow {
  position: sticky;
  top: 100vh;
}

.bottomRow {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-2);
  border-radius: 7px;
  padding-top: 15px;
}
.bottomRow button {
  background-color: rgba(255, 255, 255, 0.04);
  color: var(--white-1);
  display: flex;
  align-items: center;
  font-size: 16px;
  border-radius: 7px;
  border: none;
  padding: 10px 15px;
  transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
  margin-left: 15px;
}
.bottomRow button:hover {
  cursor: pointer;
}
.bottomRow button:active {
  scale: 0.95;
  filter: brightness(90%);
}
.bottomRow button svg {
  height: 22px;
  width: auto;
  margin-right: 7px;
}
.bottomRow button.next {
  background-color: var(--green-2);
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
main .page {
  display: none;
}
main .page.shown {
  display: block;
}
main .top {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: solid 3px var(--green-1);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
main .top h1 {
  margin: 0;
  font-size: 28px;
}
main .top .backBtn {
  color: var(--grey-light);
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-weight: 600;
  margin-bottom: 5px;
}
main .top .backBtn svg {
  height: 14px;
  width: auto;
  margin-right: 5px;
}
main .top .backBtn:hover {
  cursor: pointer;
}
main h2 {
  margin: 0;
  margin-bottom: 15px;
}
main .mutliselect {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
main .mutliselect .inputSection {
  margin: 0 7.5px;
}
main .mutliselect .inputSection:first-of-type {
  margin: 0;
  margin-right: 7.5px;
}
main .mutliselect .inputSection:last-of-type {
  margin: 0;
  margin-left: 7.5px;
}
main .inputSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  flex-grow: 1;
  position: relative;
}
main .inputSection label {
  margin-bottom: 5px;
  color: var(--white-1);
  font-size: 18px;
  word-break: keep-all;
}
main .inputSection input {
  background-color: var(--grey-3);
  border: solid 3px var(--grey-1);
  color: var(--white-1);
  font-size: 16px;
  padding: 7px;
  border-radius: 7px;
}
main .inputSection input:invalid {
  color: var(--danger);
  font-weight: 800;
}
main .inputSection input.pin {
  width: calc(4ch + 40px);
  letter-spacing: 10px;
  font-weight: 600;
  padding-right: 0px;
  width: auto;
}
main .inputSection select {
  position: relative;
  background-color: var(--grey-3);
  border: solid 3px var(--grey-1);
  color: var(--white-1);
  font-size: 16px;
  padding: 7px;
  border-radius: 7px;
}
main .inputSection.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 43px;
}
main .inputSection.select::after {
  content: "⌄";
  font-size: 18px;
  bottom: 15px;
  right: 15px;
  position: absolute;
  font-weight: 500;
  transform: scale(1.5, 1);
}
main .inputSection.select.loading {
  margin-right: 5px;
}
main .inputSection.select.loading::before {
  content: "";
  transition: background 0.2s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  outline: solid 5px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  z-index: 100;
}
main .inputSection #location {
  width: 50%;
  max-width: 100%;
}
main .inputSection #changelocationbtn {
  background-color: transparent;
  border: none;
  color: var(--green-1);
  font-weight: 600;
  font-size: 16px;
  margin-left: 5px;
}
main .inputSection #changelocationbtn:hover {
  cursor: pointer;
}
main .plugins {
  display: flex;
  flex-wrap: wrap;
}
main .plugins .plugin {
  width: 500px;
}/*# sourceMappingURL=create.css.map */